.bar-box {
  min-width: $bar-size;
  background-color: $bg2;
  padding: 8px 0;

  &.bar-start {
    border-bottom-right-radius: 8px;
  }

  &.bar-center {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &.bar-end {
    border-top-right-radius: 8px;
  }
}

.bar-item {
  color: $fg;
}

.time {
  font-size: 1.2em;
}
