// Bar stuff
.bar-wrapper {
  background-color: rgba($bg, 0.5);
}

.bar-box {
  min-width: $bar-size;
  background-color: $bg;
  padding: 8px 0;

  &.bar-start {
    border-bottom-right-radius: 8px;
    border-right: 1px solid $fg-inactive;
    border-bottom: 1px solid $fg-inactive;
  }

  &.bar-center {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 1px solid $fg-inactive;
    border-right: 1px solid $fg-inactive;
    border-bottom: 1px solid $fg-inactive;
  }

  &.bar-end {
    border-top-right-radius: 8px;
    border-top: 1px solid $fg-inactive;
    border-right: 1px solid $fg-inactive;
  }
}

@mixin bar-item {
  color: $fg;

  &:not(:first-child):not(:last-child) {
    margin: 8px 4px;
  }
}

.bar-item {
  @include bar-item;
}

// Time / date
.time {
  font-size: 1.2em;
  // This is at the bottom
  margin-top: 8px;
}

// Workspaces
.workspaces {
  .workspace {
    min-width: 0.6em;
    min-height: 1.2em;
    margin: 4px;
    border-radius: 4px;
    background-color: $bg2;
    transition: min-height 0.1s linear;

    &.occupied {
      background-color: $base0A;
    }

    &.active {
      min-height: 2.4em;
    }
  }
}

// Systray and idle inhibit
@mixin tray-item {
  min-width: 1.4em;
  min-height: 1.4em;
  border-radius: 8px;
  background-color: transparent;
  color: $fg;
  transition: background-color 0.1s linear;
  margin-bottom: 4px;

  &:hover {
    background-color: $bg2;
  }
}

.idle-button {
  @include tray-item;
  // top/right/bottom/left
  padding: 0.25em 0.15em 0.25em 0.35em;
}

.powermenu-button,
.launcher-button,
.show-tray-button {
  @include tray-item;
  padding: 0.25em;
}

.tray {
  .tray-item {
    @include tray-item;
    padding: 0.25em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

menu {
  background-color: rgba($bg, 0.9);
  padding: 0.5em;
  border-radius: 8px;
  color: $fg;

  separator {
    min-height: 0.05em;
    margin: 0.5em 0.5em;
    background-color: rgba($fg, 0.8);
  }

  menuitem {
    border-radius: 0;
    transition: background-color 100ms linear;
    padding: 0.4em 0.7em;
    border-radius: 0.5em;

    &:hover {
      background-color: $bg2;
    }
  }
}

// Tooltips
tooltip {
  background-color: rgba($bg, 0.8);
  border-radius: 0.4em;
  border: 0.1em solid $base0A;
  margin: 0.4em;
  color: $fg;

  & * {
    padding: 0.2em;
  }
}

// Battery
.battery-progress {
  min-width: 28px;
  min-height: 28px;
  font-size: 5px;
  background-color: $bg2;

  &.charging,
  &:not(.critical):not(.warning) {
    color: $base0B;
  }

  &.warning:not(.critical) {
    color: $base09;
  }

  &.critical {
    color: $base08;
  }
}
